<div class="container">
    <div class="row">
        <!-- <div class="col-12">
            <img src="assets/images/sections/tormenta-geomagnetica.gif" alt="">
        </div> -->
        <div class="div-back" 
            [routerLink]="['/home']" 
            >&lt;</div>
        <div class="col-12 title-container">
            <h1>Date Range</h1>
        </div>

        <div class="col-12 image-sun-container">
            <img class="image-sun" src="assets/images/sections/sun.png">
        </div>

        <div class="col-12">
            <label style="color: white; font-size: 1.5rem;" for="fecha">Start Date</label>
            <input [(ngModel)]="dateStart" type="date" id="fechaInicio" name="fecha">
        </div>

        <div class="col-12 mt-3">
            <label style="color: white;  font-size: 1.5rem;" for="fecha">End Date</label>
            <input [(ngModel)]="dateEnd" type="date" id="fechaFinal" name="fecha">
        </div>
        <div class="col-12 btn-container text-center">
            <div
                [routerLink]="['/predictions']" [queryParams]="{ startdate: dateStart, enddate: dateEnd }" 
                 class="btn btn-primary w-100 btn-solar py-3 h-auto">
                 Make Prediction
            </div>
        </div>
    </div>
</div>