.container {
    height: 100vh;
    background-image: url('/assets/images/tierra-sol.jpg');
    background-position: center;
    background-size: cover;
}


h1 {
    color: white;
}

.title-container {
    position: absolute;
    top: 14vh;
    text-align: center;

    h1 {
        font-size: 5rem;
    }
}

.btn-container{
    position: absolute;
    bottom: 2vh
}

.btn-solar {
    background-color: darkorange;
    color: white;
    border-color: darkorange;
    font-size: 2rem !important;
    width: 97%;
}