.container {
    height: 100vh;
    background-image: url('/assets/images/space-starts.jpg');
    background-position: center;
    background-size: cover;
}

* {
    transition: all 0.5s ease-in-out !important;
}


h1 {
    color: white;
}

.title-container {
    text-align: center;
    margin-top: 5vh;
    h1 {
        font-size: 3rem;
    }
}

.btn-container{
    position: absolute;
    bottom: 2vh
}

.btn-solar {
    background-color: darkorange;
    color: white;
    border-color: darkorange;
    font-size: 2rem !important;
    width: 97%;
}

.badge-alert {
    font-size: 1.3rem;
}

.image-sun-container {
    .image-sun {
        width: 100%;
        height: auto;
        animation: fade-in 1s ease-in-out;
    }
}

.div-info {
    color: white;
    overflow: auto;
    height: 34vh;
    text-align: justify;

    p {
        opacity: 0;
        height: 0;
        overflow: hidden;

        &.display-text {
            display: block;
            height: auto;
            opacity: 1;
        }
    }
}

.badge-kp {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.1rem;
    width: fit-content;
}

.question-one {
    animation: shake 0.5s linear 4;
    animation-delay: 1.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
}

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(2px);
    }
  }

